<div class="containareon">
	<form action="/trainers" method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="hidden" name="id" value="<%=@trainer_to_edit.id%>">

	<h2><%=@trainer_to_edit.name%></h2>
	<label for="name">New Name:</label>
	<input type="text" name="name" value="<%=@trainer_to_edit.name%>">

	<p>Level: <%=@trainer_to_edit.level%></p>
	<label for="level">Level up?</label>
	<input type="number" name="level" value="<%=@trainer_to_edit.level%>">

	<label for="img">New Pic</label>
	<input type="text" name="img" value="<%=@trainer_to_edit.profile_img%>">
	<input type="submit" name="submit">
	<img class="pokemon pro" src="<%=@trainer_to_edit.profile_img%>">
	</form>
</div>

